appdirs==1.4.4
black==22.1.0
bleach==4.1.0
build==0.7.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
click==8.0.4
colorama==0.4.4
coverage==6.3.2
cryptography==36.0.1
distlib==0.3.4
docutils==0.18.1
filelock==3.6.0
flake8==4.0.1
identify==2.4.11
idna==3.3
importlib-metadata==4.11.2
jeepney==0.7.1
keyring==23.5.0
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
pathspec==0.9.0
pep517==0.12.0
pkginfo==1.8.2
pre-commit==2.17.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.11.2
pyparsing==3.0.7
PyYAML==6.0
readme-renderer==34.0
regex==2022.3.2
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
SecretStorage==3.3.1
six==1.16.0
toml==0.10.2
tqdm==4.63.0
twine==3.8.0
typed-ast==1.5.2
typing-extensions==4.1.1
urllib3==1.26.8
virtualenv==20.13.3
webencodings==0.5.1
zipp==3.7.0
