appdirs==1.4.4
black==24.4.0
bleach==6.1.0
build==1.2.1
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
coverage==7.4.4
cryptography==42.0.5
distlib==0.3.8
docutils==0.21.2
filelock==3.13.4
flake8==4.0.1
identify==2.5.36
idna==3.7
importlib-metadata==7.1.0
jeepney==0.8.0
keyring==25.1.0
mccabe==0.6.1
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
pep517==0.13.1
pkginfo==1.10.0
pre-commit==3.7.0
pycodestyle==2.8.0
pycparser==2.22
pyflakes==2.4.0
Pygments==2.17.2
pyparsing==3.1.2
PyYAML==6.0.1
readme-renderer==43.0
regex==2024.4.16
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
SecretStorage==3.3.3
six==1.16.0
toml==0.10.2
tqdm==4.66.2
twine==5.0.0
typed-ast==1.5.5
typing-extensions==4.11.0
urllib3==2.2.1
virtualenv==20.25.3
webencodings==0.5.1
zipp==3.18.1
